@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,900;1,100&family=Roboto:ital,wght@0,300;0,500;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#servicios img {
  border: goldenrod;
}

#Main2 img {
  border: red;
}

#Main2 {
  font-family: cursive;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.logo {
  width: 100px;
  height: 60px;
}

#color-Header {
  background: rgb(93, 93, 228);
}

#menu {
  background: rgb(93, 93, 228);
}
#menu a {
  font-size: 20px;
  font-weight: lighter;
  color: black;
}

/*/////////////////////////////////////////////*/
/*///TAMAÑO DE LAS IMAGENES///*/
.carousel-inner {
  max-height: 25rem;
}

@media (max-width: 768px) {
  #intro,
#equipo {
    width: 100%;
    /*!important;*/
  }

  #intro h1 {
    color: black;
    font-family: cursive;
    text-align: center;
  }

  #equipo1 {
    width: 100%;
    /*!important;*/
    padding-top: 5px;
  }

  .servicio-fila {
    width: 100% !important;
    text-align: center;
  }

  #servicios {
    overflow: hidden;
  }

  #nosotros img {
    border: solid goldenrod;
    width: 80%;
  }

  #Nos {
    flex-direction: column;
  }

  #redes img {
    width: 30;
    height: 30;
    margin: 2px;
  }

  #presentacion {
    width: 100% !important;
    text-align: center;
  }
  #presentacion img {
    border: solid goldenrod;
    width: 80%;
  }

  #ubicanos {
    background: linear-gradient(to left, rgb(140, 140, 185), rgb(99, 99, 247));
    color: #f3f3f3;
  }

  .fondo {
    background: red;
    background: linear-gradient(to right, rgb(141, 94, 94), red);
  }

  #servicios {
    /* background: linear-gradient(to left, rgb(135, 224, 135), rgb(58, 243, 58));*/
    color: #f3f3f3;
  }
  #servicios p {
    color: blueviolet;
    font-family: cursive;
  }
  #servicios h3 {
    color: blueviolet;
  }

  #Nos {
    /* background: $degradado;*/
    color: #f3f3f3;
  }
  #Nos p {
    color: blueviolet;
    font-family: cursive;
  }
  #Nos h1 {
    color: blueviolet;
  }

  #Main1,
#Main2 {
    cursor: pointer;
    background: linear-gradient(to left, blue, red);
  }
  #Main1 h4,
#Main1 p,
#Main2 h4,
#Main2 p {
    color: white;
  }
}
.card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/*.card-body {
   line-height: 30px;
}*/
.card::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(203, 203, 226), rgb(142, 142, 223));
  position: absolute;
  bottom: -100%;
  transition: all 0.5s;
  z-index: 1;
}

.card:hover::before {
  bottom: 0;
  transition: all 0.5s;
}

.card,
h1,
h3,
p {
  z-index: 2;
}

.card-body {
  z-index: 2;
}

#imR {
  z-index: 2;
}

.display-6 {
  color: black;
  transition: color 0.5 s;
  cursor: pointer;
}

.display-6:hover {
  color: rgb(75, 75, 129);
}

#img_mv {
  z-index: 2;
}

#color-Header {
  font-family: cursive;
}

/*//////////////ESTILO FORMULARIO////////////////////////*/

/*# sourceMappingURL=style.css.map */
