@import "reset";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,900;1,100&family=Roboto:ital,wght@0,300;0,500;0,900;1,100&display=swap");
@import "variables";
body {
   font-family: "Montserrat", sans-serif;
   overflow-x: hidden;
}
.logo {
   width: 100px;
   height: 60px;
}
#color-Header {
   background: linear-gradient(to left, blue, red);
}

#menu {
   background: linear-gradient(to left, rgb(230, 104, 104), rgb(131, 11, 11));
   a {
      font-size: 20px;
      font-weight: lighter;
      color: rgb(19, 241, 56);
   }
}

/*/////////////////////////////////////////////*/
/*///TAMAÑO DE LAS IMAGENES///*/
.carousel-inner {
   max-height: 25rem;
}
@media (max-width: 768px) {
   #intro,
   #equipo {
      width: 100% !important;
   }
   #intro h1 {
      color: black;
      font-family: cursive;
      text-align: center;
   }
   #equipo1 {
      width: 100% !important;
      padding-top: 5px;
   }
   .servicio-fila {
      width: 100% !important;
      text-align: center;
   }

   /* #servicios img {
      border: solid goldenrod;
   }*/
   #nosotros img {
      border: solid goldenrod;
      width: 80%;
   }
   #Nos {
      flex-direction: column;
   }
   #redes img {
      width: 30;
      height: 30;
      margin: 2px;
   }
   #presentacion {
      width: 100% !important;
      text-align: center;
      img {
         border: solid goldenrod;
         width: 80%;
      }
   }
   #ubicanos {
      background: linear-gradient(to left, rgb(140, 140, 185), rgb(99, 99, 247));
      color: #f3f3f3;
   }
   .fondo {
      background: red;
      background: linear-gradient(to right, rgb(141, 94, 94), red);
   }
   #servicios {
      background: linear-gradient(to left, rgb(135, 224, 135), rgb(58, 243, 58));
      color: #f3f3f3;
      p {
         color: $color_texto;
         font-family: cursive;
      }

      h3 {
         color: $color_texto;
      }
   }

   #Nos {
      background: $degradado;
      color: #f3f3f3;
      p {
         color: $color_texto;
         font-family: cursive;
      }
      h1 {
         color: $color_texto;
      }
   }
   #Main2 {
      background: linear-gradient(to left, blue, red);
   }
}
